body{height: auto important; padding-top:0px;overflow: hidden; }
h1,h2,h3,h4,h5{font-family:'Berkshire Swash',cursive;}
.wrapper{overflow: hidden; width: 100%;height: auto;
    background: url(../Images/light.jpg);padding-bottom: 0px; }
header{
    width: 100%;
    height: 90px;
    background-image: url(../Images/Hotel.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 90px;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,.35);
}
.navbar{margin-top: 15px;z-index: 9999;}
 .navbar-nav > li > a, .navbar-brand{color: #FFF;  font-family: 'Berkshire Swash',cursive;}
.navbar-brand{font-size: 30px;line-height: 20px;}
.navbar-toggle{margin-top: 18px;}
 .navbar-nav >li >a:hover , .navbar-nav > .active > a, .navbar-nav > .active > a:hover,.navbar-nav > .active > a:focus{color: #DCB000; background: none;}
.navbar-nav > li > a{
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 19px;
}
.clearfix{clear: both;}
/* Start  Section about */
 .about  h3 ,.testimonials h3 ,.contact-us h3,.our-room h3,.gallery h3,.News h3{ font-size: 33px;font-weight: 600;
  text-align: center;
  color: #dcb000;
  margin-top: 40px;
  margin-bottom: 30px;
}
.about p{font-size: 16px;line-height: 28px;margin-bottom: 16px;font-weight: 500;}
.about .hover14 figure {position: relative; margin-bottom: 20px;}
.about figure img {
  height: 280px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #cecece; vertical-align: middle;
}
/* End  Section about */

/* Start Section Testimonials */ 
.testimonials {
  width: 100%;
  background: url(../Images/luxury-hotels.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  position: relative;
  margin-top: 40px;
}
.testimonials h3{margin-top: 50px;}
.testimonials .shadow{height: 350px}
.testimonials p{margin: auto;color: #f0eded;font-size: 18px;font-weight: 300;margin-bottom: 30px;}
.testimonials .carousel-inner{ min-height: 115px;}
.testimonials span {font-size: 22px;color: #FFF;margin-top: 10px}
/* End Secyion Testimonials */
/* Start Our-Services */
.our-service .title-news h4 {color: #DCB000}
/* Start Our-Services */

/* Start Our ContactUs */
.contact-us .news li{line-height: 33px;
    color: #000;padding-bottom: 7px;
    list-style: none;
    font-size: 16px;
}
.contact-us .news li .fa{margin-right: 11px;}
.contact-us .social-links a{color: #000}
.contact us .contact-form {margin-top: 22px;}
.contact us .form-control {
  border: 1px solid #a5a5a5;
}
.the-map {margin-bottom: 15px;margin-top: 15px;
  height: 400px;
}
/* End Our ContactUs */
/* Start single room */
.single .single-title {text-align: left;margin-bottom: 11px;}
 .single .title {color: #dcb000;margin-top: 40px;margin-bottom: 10px;}
.single .single-date span {font-weight: 700;font-size: 18px;}
 .single .single-img { margin-bottom: 20px;margin-top: 20px;}
.single .single-img img{width: 100%;height: 370px;border: 1px solid #cecece;}
.single .text p {margin-bottom: 15px;font-weight: 500;font-size: 17px;line-height: 28px}
.related {padding-left: 0;}
.related h4 a{font-size: 15px;color: #000;font-weight: 500}
/* End Single room */
/* Start our rooms */
.explore .container {
  margin-top: 20px;
}
.explore .title h3{font-size: 25px;}
.explore .title p{text-align: center;margin: auto;font-size: 16px;width: 70%;}
.explore-one>div, .explore-two>div {position: relative;}
.hover14 figure {position: relative;margin-bottom: 20px;}
figure { margin: 0;padding: 0;background: #fff;overflow: hidden;}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
  background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
  background: -o-linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
   -moz-transform: skewX(-25deg);
   -o-transform: skewX(-25deg);    
  transform: skewX(-25deg);
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.explore-one img {width: 100%;height:310px; border: 1px solid #cecece;}
.explore-one>div h4, .explore-two>div h4 {
  position: absolute;
  bottom: 15px;
  left: 23px;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
}
.explore-two img {
  width: 100%;
  height: 200px;
    border: 1px solid #cecece;}
/* End Our Rooms */
/* Start Our gallery */
.gallery-img {
  margin-top: 20px;
}
.gallery img{height: 100%; width: 100%;border: 1px solid #cecece;}
/* End Our Gallery */

/* Start Latest News */
.News .latest-news h4 a{
  font-size: 16px;
  font-weight: 600;
  margin-top: 22px;
  color: #233242;
  font-family: 'Open Sans', sans-serif; !important;
  text-decoration: none;    
}
.News .latest-news h4 a:hover ,.single .latest-news h4 a:hover{color:#DCB000;text-decoration: none}
.News a,.single a {
  color: #dcb000;
  font-weight: 700;
text-transform: capitalize;
}
.News .page{margin-top: 25px;}
.News .latest-news {margin-bottom: 10px;margin-left: 5px;}
.pagination > li > a, .pagination > li > span{
    padding: 10px 20px;
    color: #000;
    border: 1px solid #DCB000;
}
.pagination > .active > a{background-color: #d5ac02; border-color: #c6a108;}    
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600;);
.snip1571 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px 7px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.snip1571 *,
.snip1571 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1571 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.snip1571 figcaption {
  bottom: 30px;
  left: 0;
  position: absolute;
  z-index: 0;
}
.snip1571 figcaption:before {
  background-color: #ffffff;
  bottom: -5px;
  content: '';
  left: 0;
  position: absolute;
  right: 100%;
  top: -5px;
  z-index: -1;
}
.snip1571 h3 {
  background-color: #DCB000;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif; 
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  z-index: 1;
}
.snip1571 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1571:hover > img,
.snip1571.hover > img {
  opacity: 0.1;
}
.snip1571:hover figcaption:before,
.snip1571.hover figcaption:before {
  right: -5px;
}
/* End Latest News */ 

/* Start Our Footer */
.footer {background-color: #233242;margin-top: 35px;color: #FFF;padding-top: 25px; }
.footer h4{font-weight: 700;color:#DCB000;font-size: 20px;}
.footer li{line-height: 33px;color:#FFF;list-style: none;}
.footer .fa, .footer a, .footer label {color: #fff!important;font-weight: 700}
.footer .fa {margin-right: 11px}
.social-links {padding-top: 7px;}
.social-links .fa{font-size: 28px;}
.contact-form {margin-top: 22px;}
.form-control {
  border: 1px solid #a5a5a5;
}
.copy-right {
  text-align: center;
  color: #fff;
  border-top: 1px solid #777;
  padding-top: 8px;
  padding-bottom: 9px;
  font-size: 12px;
  text-transform: lowercase;
}
/* Start Scroll Up */
#scroll-top {
  width: 50px;
  height: 50px;
  background-color: #304e6d;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 13px;
  z-index: 9999;
  display: none;
  cursor: pointer;
}
#scroll-top:hover{background-color: #444;}
/* End Scroll up */


/* End our Footer */
/* Start My Work */
.My-btn {
    color:#233242;
    background-color: #DCB000;
    text-decoration: none !important;
    padding:  6px 10px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 4px;
    opacity: 1;
}
.My-btn:hover{opacity: 0.8}

/* End My Work */
.explore-one>div h4, .explore-two>div h4, .header-about h2, .reservation h3, .title h3, footer h4, header .navbar-nav>li>a {
  font-family: 'Berkshire Swash',cursive;
}
.price {
  margin-top: 4px;
}
.price h3 {
  display: inline-block;
}
.price span {
  float: right;
  font-weight: 700;
  line-height: 62px;
  font-size: 19px;
}
.room-details {
  line-height: 31px;
  font-size: 15px;
}
.room-details strong {
  margin-left: 5px;
  margin-right: 5px;
}
.reserve{
    background-color: rgba(35,50,66,.84);
    color: #FFF;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 30px;
    width: 30.333333%;
}
.reserve h3{color:#DCB000;font-weight: 700 ;font-size: 22px;text-align: center;font-family:'Berkshire Swash',cursive; }
.single-title h3 {font-size: 27px;color: #DCB000;}
        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssora106 {display:block;position:absolute;cursor:pointer;}
        .jssora106 .c {fill:#fff;opacity:.3;}
        .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
        .jssora106:hover .c {opacity:.5;}
        .jssora106:hover .a {opacity:.8;}
        .jssora106.jssora106dn .c {opacity:.2;}
        .jssora106.jssora106dn .a {opacity:1;}
        .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}